<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stewartmcm.android.evclarity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.stewartmcm.android.evclarity.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.TripProvider"
            android:authorities="com.stewartmcm.android.evclarity"
            android:exported="false"
            android:syncable="true"/>

        <service
            android:name="com.stewartmcm.android.evclarity.services.OdometerService"
            android:enabled="true"
            android:exported="false" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.stewartmcm.android.evclarity.activities.EnergySettingsActivity"
            android:label="@string/title_activity_energy_settings"
            android:parentActivityName="com.stewartmcm.android.evclarity.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stewartmcm.android.evclarity.activities.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service
            android:name="com.stewartmcm.android.evclarity.services.DetectedActivitiesIntentService"
            android:exported="false" />


    </application>

</manifest>